<?xml version="1.0"?>
<!--
/**
 * Edita Fácil
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 *
 * @category   Ziny
 * @package    EditaFacil
 * @copyright  Copyright (c) 2015 Agência Ziny (www.agenciaziny.com.br)
 * @license    http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 * @author     Agência Ziny <dev@agenciaziny.com.br>
 */
-->
<config>
    <modules>
        <Ziny_EditaFacil>
            <version>1.0.0</version>
        </Ziny_EditaFacil>
    </modules>
    <frontend>
        <routers>
            <editafacil>
                <use>standard</use>
                <args>
                    <module>Ziny_EditaFacil</module>
                    <frontName>editafacil</frontName>
                </args>
            </editafacil>
        </routers>
        <layout>
            <updates>
                <editafacil>
                    <file>ziny/editafacil.xml</file>
                </editafacil>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Ziny_EditaFacil>
                    <files>
                        <default>Ziny_EditaFacil.csv</default>
                    </files>
                </Ziny_EditaFacil>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <Ziny_EditaFacil>
                            <title>Easy Custom Theme</title>
                            <sort_order>202</sort_order>
                        </Ziny_EditaFacil>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <editafacil translate="title" module="editafacil">
                                            <title>Easy Custom Theme</title>
                                            <sort_order>202</sort_order>
                                        </editafacil>			
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml> 
    <global>
        <blocks>
            <editafacil>
                <class>Ziny_EditaFacil_Block</class>
            </editafacil>
        </blocks> 
        <helpers>
            <editafacil>
                <class>Ziny_EditaFacil_Helper</class>
            </editafacil>
        </helpers>
        <models>
            <editafacil>
                <class>Ziny_EditaFacil_Model</class>
            </editafacil>
        </models>
    </global>
    <default>
        <editafacil>
            <general>
                <ativo>0</ativo>
                <cor_fundo>#ffffff</cor_fundo>
                <cor_esconder>#ffffff</cor_esconder>
                <cor_escondido>#3399cc</cor_escondido>
                <distancia_topo>20%</distancia_topo>
                <distancia_lateral>.5%</distancia_lateral>
                <caixa_lado>right</caixa_lado>
                <caixa_tamanho>260px</caixa_tamanho>
            </general>
        </editafacil>
    </default>
    <admin>
        <routers>
            <editafacil>
                <use>admin</use>
                <args>
                    <module>Ziny_EditaFacil</module>
                    <frontName>editafacil</frontName>
                </args>
            </editafacil>
        </routers>
    </admin>
</config>